h1{
    background-color: white;
    font-family: 'Bungee', cursive;
    color: #364e68;
    text-align: justify;
    font-size: 30px;
    padding: 10px;
    margin: 0;
}

body{
    font-family: 'Archivo', sans-serif;
    text-align: justify;
    font-size: 15px;
}

.introducción{
    color: #364e68;
    line-height: 40px;
    padding: 5%;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 30px;
    text-align: center;
}

.instrucciónCifrar{
    background-color: #9fe8fa;
    color: #474a52;
    width: 40%;
    display: inline-block;
    line-height: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

.instrucciónDescifrar{
    background-color: #9fe8fa;
    color: #474a52;
    width: 40%;
    display: inline-block;
    line-height: 25px;
    padding-top: 45px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

#formulario1{
    display: block;
    text-align: center;
    background-color: #364e68;
    width: 80%;
    padding: 10%;
    text-align: center;
}

#texto{
    width: 600px;
    height: 300px;
    margin: 20px;
}

#desplazamiento{
    width: 200px;
    height: 30px;
    margin: 20px;

}

.botones{
    background-color: #98ccd3;
    height:48px;
    width:80px;
    border-radius:10px;
    border: 1px solid #98ccd3;
    text-align: center;
    margin: 20px;
}