h1{
    background-color: #ebf0f6;
    font-family: 'Bungee', cursive;
    color: #364e68;
    text-align: justify;
    font-size: 30px;
    padding: 10px;
    margin: 0;
}

body{
    background-color: #ebf0f6;
    font-family: 'Archivo', sans-serif;
    text-align: justify;
    font-size: 15px;
    width: 100%;    
}

.introducción{
    color: #364e68;
    line-height: 40px;
    padding: 4%;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 30px;
    text-align: center;
}

.instrucciónCifrar{
    background-color: #9fe8fa;
    color: #364e68;
    width: 50%;
    display: block;
    line-height: 25px;
    padding: 60px;
    margin: auto;
}

.instrucciónDescifrar{
    background-color: #364e68;
    color: #9fe8fa;
    width: 50%;
    display: block;
    line-height: 25px;
    padding: 60px;
    margin: auto;
}

h2{
    color: #364e68;
    text-align: center;
    background-color: #9fe8fa;
    display: block;
    width: 30%;
    height: 70px;
    margin: auto;
    padding-top: 25px;
}

#formulario1{
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
}

.botones{
    background-color: #9fe8fa;
    height:45px;
    width:80px;
    border-radius:10px;
    border: 1px solid #9fe8fa;
    text-align: center;
    margin: 20px;
    margin-top: 25px;
}

#root{
    background-color: white;
    border: 3px solid #9fe8fa;
    padding: 40px;
    width: 310px;
    height: 50px;
    text-align: left;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 60px;
}

